div {
    background: white;
    border-radius: 12px;
    padding: 15px;
    text-align: left;
    font-weight: bold;
    color: #2c3e50;
    display: inline-block;
    background-color: aliceblue;
    margin: 20px;
}

p{
    text-align: center;
}