p {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    color: black;
    width: 500px;
    margin: 20px auto;
}

/* Si el número és parell */
p.par {
    background-color: #3498db; /* blau */
}

/* Si el número és senar */
p.senar {
    background-color: #e74c3c; /* vermell */
}